---
import Layout from "../layouts/Layout.astro";
import InicioSeccion from "../components/InicioSeccion.astro"
import HeaderLanding from "../components/HeaderLanding.astro";
import AboutUsSeccion from "../components/AboutUsSeccion.astro";
import ServicesSeccion from "../components/ServicesSeccion.astro";

---

<Layout title="Welcome">

  <HeaderLanding/>
  <main class="relative w-full h-screen overflow-auto snap-y snap-mandatory scroll-smooth">
    <div class="snap-center">
      <InicioSeccion />
    </div>
    <div class="snap-center ">
      <AboutUsSeccion/>
    </div>
    <div class="snap-center">
      <ServicesSeccion/>
    </div>``
    
    
  </main>
  
</Layout>

