<header
  id="header-landing"
  class="py-0 px-10 flex items-center fixed top-0 w-full z-40 h-[65px] bg-gray-50 bg-opacity-95 font-sans p-4"
>
 
  <div class="flex items-center h-full">
    <img src="/images/iconC.svg" alt="Título" class="h-28 w-auto mt-3" />
  </div>

  
  <nav class="flex-1 flex justify-center items-center">
    <ul class="flex gap-7 text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 text-black">
      <li><a href="#" class="hover:text-gray-300">About Us</a></li>
      <li><a href="#" class="hover:text-gray-300">Projects</a></li>
      <li><a href="#" class="hover:text-gray-300">Clients</a></li>
      <li><a href="#" class="hover:text-gray-300">Services</a></li>
      <li><a href="#" class="hover:text-gray-300">Information</a></li>
    </ul>
  </nav>
</header>
