<header
      id="header-landing"
      class="py-0 px-10 flex items-center fixed top-0 w-full justify-between z-40 bg-gray-50 bg-opacity-95 font-sans p-4"
    >
      <div class="flex-grow flex  basis-0">
        <img
          src="/images/iconC.svg"
          alt="Título"
          class="h-24 max-w-[100px]"
        />
      </div>

      <nav class="flex-grow flex">
        <ul
          class="flex gap-7 text-sm [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 text-black relative"
        >
          <li>
            <a href="#" class="hover:text-gray-300">About Us</a>
          </li>
          <li>
            <a href="#" class="hover:text-gray-300">Projects</a>
          </li>
          <li><a href="#" class="hover:text-gray-300">Clients</a></li>
          <li>
            <a href="#" class="hover:text-gray-300">Services</a>
          </li>
          <li> 
            <a href="#" class="hover:text-gray-300">Information</a>
          </li>
        </ul>
      </nav>
</header>

