---
import Card from "../components/Card.astro";


---
<section
class="bg-white h-screen w-screen text-center relative overflow-hidden z-30 flex  justify-center items-center gap-40 "
>
<!-- Cards -->
<div class="relative z-50 ">
  <Card 
    icon="helm"
    header1="Act Construction and water solutions" 
    title="transform your land"
    subTitle="Experts in excavation and water solutions."
    title2="We lay the foundation for your next dream "
    paragraph="With over 10 years of experience, we provide top-quality excavation, demolition, trenching, land clearing, and water delivery services throughout Hawaii.ith over 10 years of experience, we provide high-quality excavation, demolition, trenching, land clearing, and water delivery services across Hawaii."
    link="/projects"
    tipo="simple"
  />
</div>
<div class="relative z-50 ">
  <Card tipo="formulario"/>
</div>

<!-- Video de fondo -->
<div class="absolute top-0 left-0 w-full h-full z-10 ">
  <video
    class="w-full h-full object-cover"
    autoplay
    muted
    loop
    src="/public/images/videos/video3.webm"
  ></video>
</div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", () => {
   // Seleccionamos la sección About Us
   const aboutUs = document.getElementById("about-us");
 
   // Creamos el IntersectionObserver
   const observer = new IntersectionObserver((entries) => {
     entries.forEach(entry => {
       if (entry.isIntersecting) {
         // Si el 50% de la sección "About Us" está visible en el viewport
         if (entry.intersectionRatio >= 0.5) {
           // Activamos el scroll-snap
           document.documentElement.classList.remove("snap-none");
           document.documentElement.classList.add("snap-mandatory");
           document.documentElement.style.scrollBehavior = "smooth"; // Habilitamos el scroll suave
         }
       } else {
         // Si la sección "About Us" ya no está en el 50% del viewport, desactivamos el scroll-snap
         document.documentElement.classList.remove("snap-mandatory");
         document.documentElement.classList.add("snap-none");
         document.documentElement.style.scrollBehavior = "auto"; // Desactivamos el scroll suave
       }
     });
   }, {
     threshold: 0.5  // Activar cuando el 50% de la sección sea visible
   });
 
   // Observar la sección
   if (aboutUs) {
     observer.observe(aboutUs);
   }
 });
 
 
 
 
 </script>