---
import Card from "../components/Card.astro";


---
<section
class="bg-white h-screen w-screen text-center relative overflow-hidden z-30 flex  justify-center items-center gap-40 "
>
<!-- Cards -->
<div class="relative z-50 ">
  <Card 
    icon="helm"
    header1="Act Construction and water solutions" 
    title="transform your land"
    subTitle="Experts in excavation and water solutions."
    title2="We lay the foundation for your next dream "
    paragraph="With over 10 years of experience, we provide top-quality excavation, demolition, trenching, land clearing, and water delivery services throughout Hawaii.ith over 10 years of experience, we provide high-quality excavation, demolition, trenching, land clearing, and water delivery services across Hawaii."
    link="/projects"
    tipo="simple"
  />
</div>
<div class="relative z-50 ">
  <Card tipo="formulario"/>
</div>

<!-- Video de fondo -->
<div class="absolute top-0 left-0 w-full h-full z-10 ">
  <video
    class="w-full h-full object-cover"
    autoplay
    muted
    loop
    src="/public/images/videos/video3.webm"
  ></video>
</div>
</section>
