<section class="bg-gray-100 py-12 h-screen w-screen ">
    <div class="container mx-auto text-center pt-[60px] ">
        <h2 class="text-3xl font-bold mb-6 pb-10">Our Services</h2>

        <div class="grid grid-cols-1 md:grid-cols-[min-content_min-content_min-content] gap-10  justify-center place-items-center font-sans ">
            <article class="bg-white shadow-lg rounded-lg h-[300px] w-[320px]  pb-6">
                <img src="/images/maquina1.webp" alt="Excavation and leveling" class="w-full h-40 object-cover rounded">
                <h3 class="text-xl font-semibold mt-4 flex items-center justify-center mr-2">
                    <img src="/icons/Escavadora.svg" class="w-9 h-9 icon-color" alt=""> Excavation
                </h3>
                <p class="text-gray-800 text-xs mt-2">Precisely prepare your site for any type of project.</p>
            </article>

            <article class="bg-white shadow-lg rounded-lg h-[300px] w-[320px] pb-6">
                <img src="/images/maquina1.webp" alt="Excavation and leveling" class="w-full h-40 object-cover rounded">
                <h3 class="text-xl font-semibold mt-4 flex items-center justify-center mr-2">
                    <img src="/icons/Escavadora.svg" class="w-9 h-9 icon-color" alt=""> Excavation
                </h3>
                <p class="text-gray-800 text-xs mt-2">Precisely prepare your site for any type of project.</p>
            </article>

            <article class="bg-white shadow-lg rounded-lg h-[300px] w-[320px] pb-6">
                <img src="/images/maquina1.webp" alt="Excavation and leveling" class="w-full h-40 object-cover rounded">
                <h3 class="text-xl font-semibold mt-4 flex items-center justify-center mr-2">
                    <img src="/icons/Escavadora.svg" class="w-9 h-9 icon-color" alt=""> Excavation
                </h3>
                <p class="text-gray-800 text-xs mt-2">Precisely prepare your site for any type of project.</p>
            </article>

            <article class="bg-white shadow-lg rounded-lg h-[300px] w-[320px] md:col-span-2 md:col-start-1 md:row-start-2 pb-6">
                <img src="/images/maquina1.webp" alt="Excavation and leveling" class="w-full h-40 object-cover rounded">
                <h3 class="text-xl font-semibold mt-4 flex items-center justify-center mr-2">
                    <img src="/icons/Escavadora.svg" class="w-9 h-9 icon-color" alt=""> Excavation
                </h3>
                <p class="text-gray-800 text-xs mt-2">Precisely prepare your site for any type of project.</p>
            </article>

            <article class="bg-white shadow-lg rounded-lg h-[300px] w-[320px]  md:col-span-2 md:col-start-2 md:row-start-2   pb-6">
                <img src="/images/maquina1.webp" alt="Excavation and leveling" class="w-full h-40 object-cover rounded">
                <h3 class="text-xl font-semibold mt-4 flex items-center justify-center mr-2">
                    <img src="/icons/Escavadora.svg" class="w-9 h-9 icon-color" alt=""> Excavation
                </h3>
                <p class="text-gray-800 text-xs mt-2">Precisely prepare your site for any type of project.</p>
            </article>
        </div>
    </div>
</section>
